.navber {
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 110px;
}
.navber-items {
  display: flex;
  /* color: aliceblue; */
  list-style: none;
}
.navber-items li {
  margin-right: 30px;
}
.navber-items li a {
  text-decoration: none;
  color: aliceblue;
}
