.order-card {
  background-color: burlywood;
}

.title {
  text-align: center;
}

.curt-summary {
  padding: 20px;
}

.curt-summary button {
  padding: 10px 25px;
  margin-top: 10px;
  background-color: #ff3030;
  border: none;
  color: aliceblue;
  width: 100%;
}